$branco: #FFFFFF;
$preto: #2B2B2B;
//rosa
$rosa: #FF78B5;
$rosaEscuro: #803C5A;
$rosaClaro: #FFC0E0;
//verde
$verde: #45CE73;
$verdeEscuro: #2F683E;
$verdeClaro: #B6FFCE;
//telas
$desktop: 992px;
$fonte-padrao: 'Dosis',
'Calibri',
sans-serif;