$branco: #FFFFFF;
$preto: #2B2B2B;
//rosa
$rosa: #FF78B5;
$rosaClaro: #FFD2EB;
//verde
$verde: #45CE73;
$verdeClaro: #B6FFCE;
//roxo
$roxo: #332649;
$roxoClaro: #EFEBFF;
//telas
$desktop: 992px;
$fonte-padrao: 'Dosis',
'Calibri',
sans-serif;