#cupons .simbolo {
  color: #45CE73;
}
#cupons .card {
  width: 200px;
  height: 250px;
  background-color: #2B2D42;
  border-radius: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}
#cupons .card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #FF78B5;
}
#cupons .card div {
  text-align: center;
}
#cupons .card .link {
  background-color: #45CE73;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
}

#cursos {
  overflow: hidden;
  background-color: #202136;
}
#cursos .simbolo {
  color: #45CE73;
}
#cursos #titulo {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}
#cursos #cadastro {
  padding: 10px;
  background-color: #2B2D42;
  border-radius: 5px;
  margin-top: 10px;
}
#cursos #cadastro .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#cursos #cadastro .form-group div {
  width: 50%;
}
#cursos #cadastro .form-group :first-child {
  margin-right: 20px;
}
#cursos #cadastro .form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#cursos #cadastro .form-item label {
  color: #FF78B5;
  padding-bottom: 5px;
}
#cursos #cadastro .form-item input {
  height: 28px;
  border-radius: 5px;
  padding: 5px 10px;
}
#cursos button {
  height: 40px;
  border-radius: 50px;
  background-color: #45CE73;
  width: 100%;
  margin: 10px 0;
}

#mentoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mentoria .subtitulo {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}
#mentoria ul {
  width: 350px;
}
#mentoria .timeline::before {
  content: "";
  position: fixed;
  height: 56%;
  width: 3px;
  left: 50%;
  top: 15%;
  background-color: #FF78B5;
}
#mentoria .timeline {
  display: flex;
  flex-direction: column;
  align-self: center;
}
#mentoria li {
  display: flex;
  padding-bottom: 50px;
}
#mentoria li:nth-child(even) {
  justify-content: flex-start;
}
#mentoria li:nth-child(even) .item {
  flex-direction: row-reverse;
}
#mentoria li:nth-child(even) .item .marcador {
  left: 23px;
}
#mentoria li:nth-child(even) .item .texto {
  text-align: end;
}
#mentoria li:nth-child(odd) {
  justify-content: flex-end;
}
#mentoria li:nth-child(odd) .item .marcador {
  right: 22px;
}
#mentoria .item {
  display: flex;
  width: 50%;
}
#mentoria .item .marcador {
  background-color: #FF78B5;
  margin: 0 5px;
  color: #FFFFFF;
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  align-self: center;
  border-radius: 50%;
}
#mentoria .item .texto h3 {
  color: #FF78B5;
  font-weight: 800;
}
#mentoria .link {
  display: flex;
  background-color: #FF78B5;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  margin: 13px 0;
}
#mentoria .link img {
  padding-right: 10px;
}

#comentarios .card {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 115px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
}
#comentarios .card img.foto {
  padding-right: 25px;
  width: 70px;
}
#comentarios .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#comentarios .card .info .nome {
  font-weight: 700;
}
#comentarios .card p {
  color: #2B2B2B;
}
#comentarios .card img {
  width: 24px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Dosis", "Calibri", sans-serif !important;
  font-size: 14px;
  border: none;
  font-weight: 400;
}

#grid-principal {
  display: grid;
  grid-template-areas: "principal" "sobre" "cupons" "cursos" "mentoria" "comentarios" "footer";
  background-color: #202136;
}
#grid-principal #principal {
  display: grid;
  grid-area: principal;
  grid-template-areas: "titulo imagem" "texto imagem";
  grid-template-columns: 3fr 2fr;
  background-color: #332649;
}
#grid-principal #principal #titulo-principal {
  grid-area: titulo;
  color: #FF78B5;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 25px;
  font-weight: 700;
}
#grid-principal #principal #texto-principal {
  grid-area: texto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 25px 25px 25px;
}
#grid-principal #principal #imagem-principal {
  grid-area: imagem;
  align-self: flex-end;
}
#grid-principal #principal #imagem-principal img {
  width: 100%;
  display: flex;
}
#grid-principal #sobre {
  grid-area: sobre;
}
#grid-principal #cupons {
  grid-area: cupons;
}
#grid-principal #cursos {
  grid-area: cursos;
  overflow: hidden;
}
#grid-principal #mentoria {
  grid-area: mentoria;
}
#grid-principal #comentarios {
  grid-area: comentarios;
}
#grid-principal #footer {
  grid-area: footer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#grid-principal #footer img {
  width: 200px;
}

.secao {
  width: -webkit-fill-available;
  padding: 15px 25px;
}
.secao iframe {
  width: inherit;
}

.titulo {
  color: #FF78B5;
  font-size: 17px;
}
.titulo .simbolo {
  color: #45CE73;
}

/*# sourceMappingURL=style.css.map */
