//sass style.scss style.css --watch
//npm install -g sass

@import "variaveis.scss";
@import "menu/menu.scss";
@import "pages/sobre/sobre.scss";
@import "pages/cupons/cupons.scss";
@import "pages/cursos/cursos.scss";
@import "pages/mentoria/mentoria.scss";
@import "pages/comentarios/comentarios.scss";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $branco;
    font-family: $fontePadrao;
    border: none;
    font-weight: 400;
}

.pagina-completa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/background_roxo.png);
    background-repeat: repeat;
}

#grid-principal {
    max-width: 900px;
    display: grid;
    grid-template-areas: "menu" "principal" "sobre" "cupons" "cursos" "mentoria" "comentarios" "footer";
    background-color: $roxoEscuro;

    #principal {
        display: grid;
        grid-area: principal;
        grid-template-areas: "titulo titulo" "texto imagem";
        grid-template-columns: 3fr 2fr;
        background-color: $roxo;
        margin-top: 60px;


        #titulo-principal {
            grid-area: titulo;
            color: $rosa;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 25px;
            font-weight: 700;
        }

        #texto-principal {
            grid-area: texto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px 25px 25px;
        }

        #imagem-principal {
            grid-area: imagem;
            align-self: flex-end;

            img {
                width: 100%;
                display: flex;
            }
        }
    }

    #menu {
        grid-area: menu;
    }

    #sobre {
        grid-area: sobre;
    }

    #cupons {
        grid-area: cupons;
    }

    #cursos {
        grid-area: cursos;
        overflow: hidden;
    }

    #mentoria {
        grid-area: mentoria;
    }

    #comentarios {
        grid-area: comentarios;
    }

    #footer {
        grid-area: footer;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 200px;
        }

        a {
            color: $branco;
        }

        a:hover {
            color: $rosa;
        }
    }
}

.secao {
    width: 100%;
    padding: 15px 25px;

    iframe {
        width: inherit;
    }
}

.titulo {
    color: $rosa;
    font-size: 17px;

    .simbolo {
        color: $verde;
    }
}