@import "cores.scss";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $rosaClaro;
    font-family: $fonte-padrao !important;
    border: none;
}

html {
    height: 100%;
}

body {
    background-color: $preto !important;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 66px;
    .principal {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        #apresentacao {
            padding: 25px;
            .titulo {
                display: flex;
                justify-content: center;
            }
            .texto {
                a {
                    color: $verde;
                }
            }
        }
        #assinatura {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 200px;
                padding-bottom: 30px;
            }
        }
    }
}

.nav-link {
    color: $rosa !important;
    &:hover {
        color: $verde !important;
    }
}

@media screen and (min-width: $desktop) {}

@import 'menu/menu.scss';
@import 'home/home.scss';
@import 'descontos/descontos.scss';
@import 'contato/contato.scss';
@import 'cursos/cursos.scss';