$branco: #FFFFFF;
$preto: #2B2B2B;
//rosa
$rosa: #FF78B5;
$rosaClaro: #FFD2EB;
//verde
$verde: #45CE73;
$verdeClaro: #B6FFCE;
//roxo
$roxoEscuro: #202136;
$roxo: #332649;
$roxoMedio: #2B2D42;
$roxoClaro: #EFEBFF;

//telas
$desktop: 992px;

//fonte
$fontePadrao: 'Dosis', 'Calibri', sans-serif;
$fonteSizeMobile: 14px;
$fonteSizeWeb: 16px;