@import "../../cores.scss";

#comentarios {
    background-color: $roxoEscuro;
    .card {
        display: flex;
        flex-direction: row;
        width: 300px;
        height: 115px;
        background-color: $branco;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 10px 0;

        img.foto {
            padding-right: 25px;
            width: 55px;
            height: 60px;
            align-self: center;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .nome {
                font-weight: 700;
            }

            .link {
                color: $rosa;
                width: fit-content;
            }

            .link:hover {
                color: $verde;
            }
        }

        p {
            color: $preto;
        }

        img {
            width: 24px;
        }
    }
}