#contatos {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    .contato {
        padding: 20px;
        color: white;
        display: flex;
        margin: 15px 0;
        a {
            img {
                width: 50px;
            }
        }
    }
}