#cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    button {
        width: 100%;
    }
    .texto {
        padding-top: 20px;
        text-align: center;
    }
    .alertas {
        height: 70px;
    }
}