#menu-container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 22px;
    a {
        margin: 0 20px;
    }
    .topnav {
        display: none;
    }
    .topnav.responsive {
        background-color: black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

@media screen and (min-width: 800px) {
    #menu-container {
        .icon {
            display: none;
        }
        #myTopnav {
            display: flex;
        }
    }
}